# ---> Go
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.sh
bin
# Folders
_obj
_test
.idea

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

._*

conf/app.conf
conf/.DS_Store

lastupdate.tmp
routers/commentsRouter_*
tmps
logs/*
static/*

.DS_Store
_w.log
exec/*
*.log
myapiproject